@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Poppins:wght@100;400&display=swap');
body{
    font-family: Poppins, sans-serif;
}

/* flash message */
.flashes h4{
    padding:1.5rem 0 ;
    font-size: 1.5rem;
    font-family: poppins,sans-serif;
    letter-spacing:2px;
    line-height: 2;
    color: #730202;
}

/* nav bar */
.nav-wrapper{
    background-color:#F29F05 ;
    padding: 0 1rem;
}

.nav-wrapper a{
    color:#f0e5de;
    font-weight: bold;
}

.menu-items a:hover{
    cursor:pointer;
    box-shadow:0 0.1rem 1.2rem 0 rgba(230, 58, 15, 0.6);
    color: #F29F05;
    border-radius:3px;
    background-color: white;
}

.hero-image-text{
    letter-spacing: 10px;
    line-height: 1rem;
    text-align: center;
    color: white;
    font-size: 3rem;
    padding: 1rem;
    font-family: dancing script,sans-serif;
}

.header-text{
    font-size: 1.7rem;
    color: white;
    letter-spacing: 2px;
    font-family: dancing script,sans-serif;
}

.dropdown-content li>a{
    color:#730202;
}

/* mobile nav bar */

.mobile-logo{
    margin:auto;
}

.brand-logo{
    padding:2rem 0;
    background-color:#F29F05 ;
    border-radius:22px;
}

.brand-logo a{
    color:#f0e5de;
}

.sidenav{
    background-color:#D9B9A7;
}

nav i{
    font-size:16px;
    margin-left:5px;
}

.sidenav li>a{
    color:#730202;    
}

.sidenav li>a:hover{
    color:#F28705;
    background-color: white;   
    box-shadow:0 0.1rem 1.2rem 0 rgba(230, 58, 15, 0.6); 
    cursor:pointer;
}

.sidenav li>a>i {
    margin-left:5px; 
    color:#730202;
}


/* search bar on home page */
.search-button{
    justify-content: center;
}

.icon-color{
    color:#730202;
}

.search-container{
    padding: 2rem 0 0 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #F28705;
    color:#F28705 ;
}


.input-field.col > label{
    color:#F28705;
}

/* register */

.register-header{
    padding:2rem 0 ;
    font-family: dancing script,sans-serif;
    letter-spacing:3px;
    color: #730202;
}

.register-container{
    width:100%;
    background: url(/static/images/background2.png) no-repeat center center / cover fixed; 
}

textarea.materialize-textarea {
    border-bottom: 1px solid #F28705; 
    color:#F28705;
}

input[type=text]:not(.browser-default){
    color:#F28705;
    border-bottom: 1px solid #F28705;
}

input[type=password]:not(.browser-default){
    color:#F28705;
    border-bottom: 1px solid #F28705;
}

.general-btn{
    background-color: #F24405;
    border-radius: 13px;
    color:#730202;
    padding: 9px;
}

.btn-custom{
    font-size:1.2rem ;
}

.general-btn:hover{
    cursor:pointer;
    box-shadow:0 0 1rem 0 #F28705;
    color:white; 
    padding: 15px; 
}

.register-details .row .col{
    min-height: 43px;
}

button{
    border-color: #F29F05;
}

.registered{
    padding:1rem 0 ;
    font-family: poppins,sans-serif;
    letter-spacing:3px;
    color: #730202;
}

.registered a{
    color:#f44336;
}


/* profile */
.profile-header{
    color:#730202;
    letter-spacing: 3px  
}

.profile-content{
    padding:1rem 0
}

.profile-header h3{
    padding:2rem 0;
}

.personal-details p, .personal-details i{
    display: inline-block;
}

.profile-update{
    padding: 12px;
}

.profile-update:hover{
    cursor:pointer;
    box-shadow:0 0 1rem 0 #F28705;
    color:#730202; 
}

.personal-details .input-field{
    display:inline-block;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
    border-bottom: 1px solid #F28705;
}


/* add recipe */
.recipe-header{
    padding:2rem 0 ;
    font-family: dancing script,sans-serif;
    letter-spacing:3px;
    color: #730202;
}

.recipe-container{
    width:100%;
    background: url(/static/images/background2.png) no-repeat center center / cover fixed; 
}

.dropdown-content li>span{
    color:#730202;
}

.dropdown-content li>span:hover{
    background-color: white;
    color: #F28705;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #F29F05;
}

.switch label .lever {
    background-color: #D9B9A7;
    margin:10px;
}

.controls{
    text-align: center;
}

.input-field :placeholder-shown {
    color:#F28705;
}

/* stars */
*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #F28705;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

  /* single page */
.single-header{
    color: #730202;
    padding-top: 3rem ;
}

.single-recipe-text{
    color:#730202;
    padding:1rem 0;
}

.single-recipe-text strong{
    margin-right:3px;
}

.prep-time{
    padding:1rem 0 1.5rem 0;
}

.review-rating{
    color:#730202;
    padding:1rem;
    text-align:center;
}

.ratings i{
    color:#ffc700;
}

.recipe-item{
    color:#730202;
    flex:1;
    text-align: center;
}

.recipe-image{
    padding:6rem 0;
}

.recipe-image img{
    display: block;
    width: auto;
    height: auto;
    max-height: 355px;
    max-width: 355px;
    margin: 0 auto;
    border-radius: 10px;
}

.vegetarian-text{
    padding:2rem 0;
    color:#730202;
}

.direction-details{
    padding-top: 2rem;
    margin:0.8rem; 
}

.preparation-details{
    color: #730202;
    padding-bottom: 1rem;
}

#check{
    margin-bottom: 1rem;
    color: #730202;
} 

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: unset;
    opacity: 0;
    pointer-events: none;
}

.divider {
    background-color: #F28705;
}
/* code borrowed from yummly at https://www.yummly.co.uk/recipe/Eggs-Benedict-2635676 */
.recipe-item .value{
    display: inline-block;
    font-weight: bold;
    color: #F28705;
}

.recipe-item .label{
    position: relative;
    top: -4px;
    display: block;
}

.recipe-checkbox label{
    color:#730202;
}
  /* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #F29F05;

}
  /* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #F28705;
}
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #730202;
  }

.input-field>label {
    left:0;
    color:#F28705;
}



/* home page */
.festive-container{
    color: #730202;
}

.festive-container h3{
    font-size:2rem;
}

.festive-container p{
    text-align: center;
    line-height: 2rem;
}

.card .card-content {
    padding: 1rem 0.8rem;
    text-align: center;
}

.variety-header{
    color: #730202;
    font-size:2rem
}

.container .categories {
    padding-bottom: 2rem;
}

.categories{
    text-align: center;
    color: #F28705;
}

.categories-image img{
    width:100%;
    border-radius: 4rem;
}

.different-category h5{
    padding-top: 2rem;
}

.btn-floating.halfway-fab{
    right:-7px;
    bottom: 97px;
}

.vegan{
    color:#F28705;
}

.center-recipe > .col {
    float:none; 
    display: inline-block;
    text-align: initial; 
  }

/* footer */

.footer-container{
    padding: 1rem 0 0 0;
    background-color: #f0e5de;
}

.footer-content{
    padding: 0 2rem;
}

.logo-footer{
    padding: 2rem 0;
}

.footer-image{
    width:10rem;
}

.social-link a i {
    margin-left: 20px;
    color:#F29F05;
    font-size: 15px ;
    padding-bottom: 1rem;   
}

.social-link a :hover {
    color:#F29F05;
    padding: 1rem;   
    box-shadow:0 0.2rem 1.2rem 0 rgba(230, 58, 15, 0.6);
}

.recipe-links li{
    padding-bottom:0.8rem;
    padding-top: 0.7rem;
}
.recipe-links .list-item a{
    color: #F29F05;
    font-size: 15px;
}

.recipe-links .list-item a:hover{
    cursor:pointer;
    box-shadow:0 0.2rem 1.2rem 0 rgba(230, 58, 15, 0.6);
    color: #F29F05;
    padding: 10px;
    border-radius:3px;
}

.footer-text{
    font-size: 14px;
    color: #F29F05;
    text-transform: uppercase;
}

@media screen and ( max-width: 575px){
    .hero-image-text{
        letter-spacing: 5px;
        line-height: 2rem;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        font-weight: bold;
    }
    .header-text{
        font-size: 1.2rem;
    }
    
    .input-field .prefix{
        font-size: 1.5rem;
    }

    .input-field.col > label{
        font-size: 0.7rem;
    
    }

    .input-field.col label{
        left:0px;
    }

    .register-header{
        padding:2rem 0 ; 
    }

    .profile-header h3{
        font-size:1.5rem;
    }



}

@media only screen and (max-width:768px){
    .register-header{
        padding:2rem 0 ;   
    }

    .flashes h4{
        padding:1rem 0 ;
        line-height: 1.5;
    }

    .registered{
        font-size: 12px;
    }

    .personal-details p, .personal-details i {
        font-size:1rem;
    }

    .variety-header{
        font-size:1.6rem;
    }

    .different-category h5{
        font-size: 1.3rem;
        padding-top: 0;
    }

    .btn-floating.halfway-fab {
        right: -4px;
        bottom:90px;
    }

    .categories-image img {
        border-radius: 2rem;
    }

    .btn-custom{
        font-size:0.8rem ;
    }
    

}

@media screen and (min-width:875px){
    .btn-floating.halfway-fab{
        right:-3px;
        bottom: 68px;
    }
    
}


@media screen and (min-width: 978px) {
    .hero-image-text{
    letter-spacing: 5px;
    }

    .btn-floating.halfway-fab {
        right: -1px;
        bottom: 131px;
    }

}