@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Poppins:wght@100;400&display=swap');
body{
    font-family: Poppins, sans-serif;
}

/* flash message */

.flashes{
    padding-top: 5rem;
}

.flashes h4{
    font-size: 1.5rem;
    font-family: poppins,sans-serif;
    letter-spacing:2px;
    line-height: 2;
    color: #730202;
}

/* nav bar */
.nav-wrapper{
    background-color:#F29F05 ;
    padding: 0 1rem;
}

.nav-wrapper a{
    color:#f0e5de;
    font-weight: bold;
}

.menu-items a:hover{
    cursor:pointer;
    box-shadow:0 0.1rem 1.2rem 0 rgba(230, 58, 15, 0.6);
    color: #F29F05;
    border-radius:3px;
    background-color: white;
}

.ayo-logo img{
    height: 53px;
}

nav.nav-extended .nav-wrapper {
    min-height: 56px;
    height: 5.5rem;
}

.nav-wrapper .right {
    float: right !important;
    padding-top: 0.5rem;
}

nav .brand-logo {
    padding:4px;
}

nav{
    position: fixed;
    z-index: 99;
}

.dropdown-content li>a{
    color:#730202;
}

/* mobile nav bar */

.mobile-logo{
    margin:auto;
}

.sidenav .user-view .circle {
    height: 125px;
    width: 125px;
}

.brand-logo{
    padding:1rem 0;
    border-radius:22px;
}

.brand-logo h4{
    font-size: 3rem;
    color:#F29F05;
    font-family: dancing script,sans-serif;;
}
.circle{
    border-radius: 0%;
}
.brand-logo a{
    color:#f0e5de;
}

.sidenav{
    background-color:#D9B9A7;
}

nav i{
    margin-top:5px;
}

.sidenav li>a{
    color:#730202;    
}

.sidenav li>a:hover{
    color:#F28705;
    background-color: white;   
    box-shadow:0 0.1rem 1.2rem 0 rgba(230, 58, 15, 0.6); 
    cursor:pointer;
}

.sidenav li>a>i {
    margin-left:5px; 
    color:#730202;
}

.product-container{
    padding:4rem 0;
}
/*  header */
.hero-image-text{
    letter-spacing: 10px;
    line-height:4rem;
    text-align: center;
    padding: 2rem 0;
    font-family: poppins,sans-serif;
    color:#730202;

    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;

}

@keyframes stretch{
    from{
      transform: scale(0.6);
    }
    to{
      transform: scale(1);
    }
  }

.header-container {
    width:100%;
    background: url(../images/header-image.jpeg) no-repeat center center / cover fixed;  
    object-fit: cover;
    padding-top: 4rem;
}


.header-text{
    color:#730202;
    letter-spacing: 2px;
    font-family: poppins,sans-serif;
    text-align: right;
    padding: 2rem 1rem;
    line-height: 2rem;
    position: relative;
    top:-4rem;
    font-weight: bold;
}


/* search bar on home page */
.search-button{
    justify-content: center;
}

.icon-color{
    color:#730202;
}

.search-container{
    padding: 2rem 0 0 0;
    text-align:center;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #F28705;
    color:#F28705;
}

input{
    color:#F28705;
}


.input-field.col > label{
    color:#F28705;
}

.error-meesage{
    color:#F29F05;
    padding: 4rem 0;
    letter-spacing:2px;
}
/* register */

.login-container{
    padding-top: 3rem;
}

.register-header{
    padding:2rem 0 ;
    font-family: dancing script,sans-serif;
    letter-spacing:3px;
    color: #730202;
}

.register-container{
    width:100%;
    background: url(/static/images/background2.png) no-repeat center center / cover fixed;
    padding-top:4rem;
}

textarea.materialize-textarea {
    border-bottom: 1px solid #F28705; 
    color:#F28705;
}

input[type=text]:not(.browser-default){
    color:#F28705;
    border-bottom: 1px solid #F28705;
}

input[type=password]:not(.browser-default){
    color:#F28705;
    border-bottom: 1px solid #F28705;
}

.general-btn{
    background-color: #F24405;
    border-radius: 13px;
    color:#730202;
    padding: 9px;
}

.btn-custom{
    font-size:1.2rem ;
}

.general-btn:hover{
    cursor:pointer;
    box-shadow:0 0 1rem 0 #F28705;
    color:white; 
    padding: 15px; 
}

.register-details .row .col{
    min-height: 43px;
}

button{
    border-color: #F29F05;
}

.registered{
    padding:1rem 0 ;
    font-family: poppins,sans-serif;
    letter-spacing:3px;
    color: #730202;
}

.registered a{
    color:#f44336;
}

/* code borrowed from https://tutorialdeep.com/knowhow/change-image-on-dropdown-select-option-jquery/.
and modified  */
.users{
	display:none;
    text-align:center;
}  

.users img{
  margin: 0 auto;
  height: 205px;
}

.users span{
	text-align: center;
    background: #ffdede;
    padding: 6px 10px;
    display: block;
    width: 100px;
    border: 1px solid #d47c7c;
    margin: 8px auto;
}
#showOne,#showTwo,#showThree {
    padding:10px;
}


/* profile */
.profile-header{
    color:#730202;
    letter-spacing: 3px  
}

.profile-name{
    text-decoration: underline;
    text-decoration-color: #F28705;
    color:#F28705
}
.card-panel{
    width:100%;
    background: url(/static/images/background2.png) no-repeat center center / cover fixed; 
}

.profile-container{
    padding-top: 5rem;
}

.profile-details{
    padding: 2rem 0;
}

.profile-content{
    padding:1rem 0
}

.profile-header h3{
    padding:2rem 0;
}

.personal-details p, .personal-details i{
    display: inline-block;
}

.profile{
    padding-top: 1rem;
    text-align: center;
}

.personal-details .input-field{
    display:inline-block;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
    border-bottom: 1px solid #F28705;
}

.card-text{
    color:#F28705;
    padding:0.5rem;
}

.card.small .card-content{
    padding:0;
}

.content-header{
    padding-top: 11px;
}

.recipe-list-container{
    padding-top: 1.5rem;
}

.view-text{
    color:#F28705;
    text-align: center;
    line-height:2rem;
}

.categorysearch-container {
    padding: 2rem 2rem;
}

.recipes-container{
    padding-top: 5rem;
}

.category-container{
    padding-top: 6rem;
}

/* manage categories  */
.card .card-action{
    border-top: 0;
}

.manage-container{
    width:100%;
    background: url(/static/images/background2.png) no-repeat center center / cover fixed;
    padding-top: 4rem;
}

.manage-category{
    padding: 2rem 0;
}

.manage-button:hover{
    cursor:pointer;
    box-shadow:0 0 1rem 0 #F28705;
    color:white;
}

.card .card-title {
font-size: 24px;
font-weight: 500
}

/* add recipe */
.recipe-header{
    padding:2rem 0 ;
    font-family: dancing script,sans-serif;
    letter-spacing:3px;
    color: #730202;
}

.recipe-container{
    width:100%;
    background: url(/static/images/background2.png) no-repeat center center / cover fixed; 
    padding-top: 3rem;
}

.dropdown-content li>span{
    color:#730202;
}

.dropdown-content li>span:hover{
    background-color: white;
    color: #F28705;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #F29F05;
}

.switch label .lever {
    background-color: #D9B9A7;
    margin:10px;
}

.controls{
    text-align: center;
}

.input-field :placeholder-shown {
    color:#F28705;
}

.recipe-list{
    color:#730202;
    text-align: center;
}

/* stars */
*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #F28705;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

  /* single page */
.single-container{
    padding-top: 5rem;
}
.single-header{
    color: #730202;
    padding-top: 3rem ;
}

.single-recipe-text{
    color:#730202;
}

.single-recipe-text strong{
    margin-right:3px;
}

.prep-time{
    padding:1rem 0 1.5rem 0;
}

.review-rating{
    color:#730202;
    padding:1rem;
    text-align:center;
}

.ratings i{
    color:#ffc700;
}

.recipe-item{
    color:#730202;
    flex:1;
    text-align: center;
}

.recipe-image{
    padding:4rem 0 ;
}

.single-recipe-text {
    font-size:1.1rem;
}

.recipe-image img{
    display: block;
    width: auto;
    height: auto;
    max-height: 355px;
    max-width: 355px;
    margin: 0 auto;
    border-radius: 10px;
}

.vegetarian-text{
    padding:2rem 0;
    color:#730202;
}

.direction-details{
    padding-top: 2rem;
    margin:0.8rem; 
}

.preparation-details{
    color: #730202;
    padding-bottom: 1rem;
}

#check{
    margin-bottom: 1rem;
    color: #730202;
} 

.card .small.card-image{
    max-height: 50%;
    overflow: scroll;

}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: unset;
    opacity: 0;
    pointer-events: none;
}

.recipe-button{
    border-radius: 13px;
    color:#730202;
    padding: 9px;
    margin-right: 10px;
}

.recipe-head{
    padding: 11px;
}

.recipe-button:hover{
    cursor:pointer;
    box-shadow:0 0 1rem 0 #F28705;
    color:white; 
    padding: 15px; 
}

.divider {
    background-color: #F28705;
}

/* code borrowed from yummly at https://www.yummly.co.uk/recipe/Eggs-Benedict-2635676 */
.recipe-item .value{
    display: inline-block;
    font-weight: bold;
    color: #F28705;
}

.recipe-item .label{
    position: relative;
    top: -4px;
    display: block;
}

.recipe-checkbox label{
    color:#730202;
}

::placeholder{
    color:#F28705;
}

  /* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #F29F05;

}
  /* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #F28705;
}
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #730202;
  }

.input-field>label {
    left:0;
    color:#F28705;
}


/* home page */
.festive-container{
    color: #730202;
    padding: 2rem 0;
}

.list-container {
    padding-top: 1.5rem;
}

.festive-header{
    font-size:2rem;
}

.festive-text {
    text-align: center;
    line-height: 2rem;
}

.card .card-content {
    padding: 1rem 0.8rem;
    text-align: center;
}

.variety-header{
    color: #730202;
    font-size:1.6rem;
}

.container .categories {
    padding-bottom: 2rem;
}

.categories{
    text-align: center;
    color: #F28705;
}

.categories-image img{
    width:100%;
    border-radius: 4rem;
}

.different-category p{
    padding-top: 2.7rem;
}

.btn-floating.halfway-fab{
    right:-7px;
    bottom: 97px;
}

.vegan{
    color:#F28705;
}

.product-image{
    padding:3rem;  
}

.product-image img{
    width:100%;
    height: auto;
    max-height: 461px;
    object-fit: cover;
}

.product-text{
   padding: 6rem;
   color:#730202;
}

.product{
    padding: 2rem;
    line-height: 2.5rem;
}

.product-header {
    padding: 2rem 1rem 1rem 1rem;
    color: #F28705;
    font-size: 1.7rem;
    line-height: 3rem;
}


/* modal */
.modal-text{
    color:#730202;
    line-height: 2rem;
    text-align: center;
}

.modal-button{
    border-radius: 13px;
    color:#730202;
    padding: 9px;
    margin-right: 10px;
}

.modal-button:hover{
    cursor:pointer;
    box-shadow:0 0 1rem 0 #F28705;
    color:white; 
    padding: 11px; 
}

/* footer */

.footer-container{
    padding: 1rem 0 0 0;
    background-color: #f0e5de;
}

.footer-content{
    padding: 0 2rem;
}

.logo-footer{
    padding: 2rem 0;
}

.footer-image{
    width:10rem;
}

.social-link a i {
    margin-left: 20px;
    color:#F29F05;
    font-size: 15px ;
    padding-bottom: 1rem;   
}

.social-link a :hover {
    color:#F29F05;
    padding: 1rem;   
    box-shadow:0 0.2rem 1.2rem 0 rgba(230, 58, 15, 0.6);
}

.recipe-links li{
    padding-bottom:0.8rem;
    padding-top: 0.7rem;
}
.recipe-links .list-item a{
    color: #F29F05;
    font-size: 15px;
}

.recipe-links .list-item a:hover{
    cursor:pointer;
    box-shadow:0 0.2rem 1.2rem 0 rgba(230, 58, 15, 0.6);
    color: #F29F05;
    padding: 10px;
    border-radius:3px;
}

.footer-text{
    font-size: 14px;
    color: #F29F05;
    text-transform: uppercase;
}

/* tips */
.tips-container{
    color: #730202;
    padding: 4rem 2rem 2rem 2rem;
}

.tips-header{
    font-size:2rem;
    padding:1.5rem;
}

.kitchen{
    padding-top: 1rem;

}

.kitchen-header{
    color:#F28705;
    font-size:2rem;
}

.kitchen-header h3{
    line-height: 3rem;
}

.kitchen-text{
    padding:2rem 0;
    line-height: 2rem;
    color: #730202;
}

.kitchen-image img{
    width: 100%;
    height: auto;
    max-height: 442px;
    object-fit: cover;
}

.kitchen-container{
    padding-top: 1rem;
}

.kitchen-image{
    padding:3rem;  
}

.kitchen-content{
    padding:3rem;
}

.tips-button{
    border-radius: 10px;
    color:white;
    padding: 9px;
}

.tips-button:hover{
    cursor:pointer;
    box-shadow:0 0 1rem 0 #F28705;
    padding: 15px; 
}

.btn:hover{
    cursor:pointer;
    box-shadow:0 0 1rem 0 #F28705; 
}

@media screen and ( max-width: 575px){
    .hero-image-text{
        letter-spacing: 5px;
        line-height: 2rem;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        font-weight: bold;
    }
    .header-text{
        font-size: 1.2rem;
    }
    
    .input-field .prefix{
        font-size: 1.5rem;
    }

    .input-field.col > label{
        font-size: 0.9rem;
    }

    .input-field.col label{
        left:0px;
    }

    .register-header {
        padding: 2rem 0 1rem 0;
    }

    .profile-header h3{
        font-size:1.5rem;
    }

    .recipe-image img {
        max-height: 264px;
        max-width: 264px;
    }

    .categorysearch-container {
        padding: 2rem 3rem;
    }

    .different-category p {
        padding-top: 1px;
    }

    .edit-btn{
        margin-top:10px;
    }

}

@media only screen and (max-width:768px){
    .flashes h4{
        padding:1rem 0 ;
        line-height: 1.5;
    }

    .registered{
        font-size: 12px;
    }

    .profile-details{
        padding: 0.1rem 0;
    }

    .profile-button{
        padding:1rem 0 ;
    }
    .personal-details p{
        line-height: 3rem;
    }
    .personal-details p, .personal-details i {
        font-size:1rem;
    }

    .variety-header{
        font-size:1.6rem;
    }

    .categories-image img {
        border-radius: 2rem;
    }

    .btn-custom{
        font-size:0.8rem ;
    }

    .product-text{
        padding:1rem 0;
    }

    .product-container{
        padding:0.5rem 0;
    }

    .categorysearch-container {
        text-align: center;
    }

    .recipe-image img {
        max-height: 286px;
        max-width: 286px;
    }

}

@media only screen and (max-width:875px){

    .ayo-logo img{
        height: 52px;
    }

    nav .brand-logo {
        padding:3px;
    }

    .categorysearch-container {
        text-align: center;
    }
    
    .recipe-image{
        padding:1rem 0 ;
    }

    .product-header {
        font-size: 1.5rem;
    } 
}


@media screen and (min-width: 978px) {
    .hero-image-text{
    letter-spacing: 5px;
    }

}