@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Poppins:wght@100;400&display=swap');
body{
    font-family: Poppins, sans-serif;
}

/* flash message */
.flashes h4{
    padding:1.5rem 0 ;
    font-size: 1.5rem;
    font-family: poppins,sans-serif;
    letter-spacing:2px;
    line-height: 2;
    color: #730202;
}
/* nav bar */
.nav-wrapper{
    background-color:#F29F05 ;
}

.nav-wrapper a{
    color:#f0e5de;
    font-weight: bold;
}

.menu-items a:hover{
    cursor:pointer;
    box-shadow:0 0.1rem 1.2rem 0 rgba(230, 58, 15, 0.6);
    color: #F29F05;
    border-radius:3px;
    background-color: white;
}

.hero-image-text{
    letter-spacing: 10px;
    line-height: 1rem;
    text-align: center;
    color: white;
    font-size: 3rem;
    padding: 1rem;
    font-family: dancing script,sans-serif;
}

.header-text{
    font-size: 1.7rem;
    color: white;
    letter-spacing: 2px;
    font-family: dancing script,sans-serif;
}

/* search bar */
.search-button{
    justify-content: center;
}

.icon-color{
    color:#730202;
}

.search-container{
    padding: 2rem 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #F24405;
    color:#F28705 ;
}


.input-field.col > label{
    color:#F28705;
}

/* register */

.register-header{
    padding:2rem 0 ;
    font-family: dancing script,sans-serif;
    letter-spacing:3px;
    color: #730202;
}

textarea.materialize-textarea {
    border-bottom: 1px solid #F24405; 
    color:#F28705;
}

input[type=text]:not(.browser-default){
    color:#F28705;
    border-bottom: 1px solid #F24405;
}

input[type=password]:not(.browser-default){
    color:#F28705;
    border-bottom: 1px solid #F24405;
}

.general-btn{
    background-color: #F24405;
    border-radius: 13px;
    color:#730202;
    padding: 15px;

}

.btn-custom{
    font-size:1.2rem ;
}

.general-btn:hover{
    cursor:pointer;
    box-shadow:0 0 1rem 0 #F28705;
    color:white; 
    padding: 15px; 
}

.register-details .row .col{
    min-height: 43px;
}

button{
    border-color: #F29F05;
}

.registered{
    padding:1rem 0 ;
    font-family: poppins,sans-serif;
    letter-spacing:3px;
    color: #730202;
}

.registered a{
    color:#f44336;
}


/* footer */

.footer-container{
    padding: 1rem 0 0 0;
    background-color: #f0e5de;
}

.footer-content{
    padding: 0 2rem;
}

.logo-footer{
    padding: 2rem 0;
}

.footer-image{
    width:10rem;
}

.social-link a i {
    margin-left: 20px;
    color:#F29F05;
    font-size: 15px ;
    padding-bottom: 1rem;   
}

.social-link a :hover {
    color:#F29F05;
    padding: 1rem;   
    box-shadow:0 0.2rem 1.2rem 0 rgba(230, 58, 15, 0.6);
}

.recipe-links li{
    padding-bottom:0.8rem;
    padding-top: 0.7rem;
}
.recipe-links .list-item a{
    color: #F29F05;
    font-size: 15px;
}

.recipe-links .list-item a:hover{
    cursor:pointer;
    box-shadow:0 0.2rem 1.2rem 0 rgba(230, 58, 15, 0.6);
    color: #F29F05;
    padding: 10px;
    border-radius:3px;
}

.footer-text{
    font-size: 14px;
    color: #F29F05;
    text-transform: uppercase;
}

@media screen and ( max-width: 575px){
    .hero-image-text{
        letter-spacing: 5px;
        line-height: 2rem;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        font-weight: bold;
    }
    .header-text{
        font-size: 1.2rem;
    }
    
    .input-field .prefix{
        font-size: 1.5rem;
    }

    .input-field.col > label{
        font-size: 0.7rem;
    
    }

    .input-field.col label{
        left:0px;
    }

    .register-header{
        padding:2rem 0 ;   
    }

}

@media only screen and (max-width:768px){
    .register-header{
        padding:2rem 0 ;   
    }

    .flashes h4{
        padding:1rem 0 ;
        line-height: 1.5;
    }

    .registered{
        font-size: 12px;
    }

}

@media screen and (min-width: 978px) {
    .hero-image-text{
    letter-spacing: 5px;
    }

}