{% extends "base.html" %}
{% block content %}

  <section class="recipe-container">
    <div class="container">
        <h3 class="center-align recipe-header"> Add a new Category </h3>
        <form class="row recipe-form" method="POST" action="{{ url_for('add_category') }}">
            <div class="col s12 m8 offset-m2">
                <div class="card-panel">
                <!-- category name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-tag prefix icon-color"></i>
                        <input id="category_name" name="category_name" minlength="3" maxlength="25"
                            type="text" class="validate" required>
                        <label for="category_name">Category Name</label>
                    </div>
                </div>
                <!-- recipe description -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-comment prefix icon-color"></i>
                        <textarea id="category_description" name="category_description" minlength="5"
                            maxlength="200" class="materialize-textarea validate" rows="4" required></textarea>
                        <label for="category_description" >Brief description of recipe category (200 max)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn waves-light manage-button amber darken-2 edit-button">
                            ADD CATEGORY <i class="fas fa-plus prefix right"></i>
                        </button>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">    
                    <a href="{{url_for('manage_categories')}}" role="button" 
                    class="btn edit-button waves-light amber darken-2">
                    <i class="fas fa-angle-left prefix left"></i> BACK 
                    </a>
                </div>
            </div>
           </div>
        </form>
    </div>
  </section>




{% endblock %}