{% extends "base.html" %}
{% block content %}

<section>
    <div class="container-fluid">
        <div class="carousel carousel-slider" id="demo-carousel-content" data-indicators="true">
            <div class="carousel-fixed-item center"> 
                <h2 class="white-text hero-image-text ">MERRY CHRISTMAS FROM AYO RECIPES</h2>
                <p class="white-text header-text">Enjoy some fine cuisine dishes at the comfort of your homes </p>      
            </div>
            <a class="carousel-item" href="#one!"><img src="{{url_for('static',filename='images/header-image1.jpg')}}"></a>
           
                <a class="carousel-item" href="#two!"><img src="{{url_for('static',filename='images/header-image2.jpg')}}"> </a>
                <a class="carousel-item" href="#two!"><img src="{{url_for('static',filename='images/header-image3.jpg')}}"></a>
            </div>
      </div>
</section>

<section class= "container">
    <div class="search-container">
        <form action="" method="POST" >
            <div class="row valign-wrapper">
                <div class="input-field col s8 m8 offset-s2 offset-m2">
                    <input type="text" name="query" id="query" minlength="3"  required>
                    <label for="query"> e.g lunch/bread</label>
                </div>
            </div>
            <div class="center-align">
                <div class="col s12 m4">
                    <button type="submit" class="btn waves-effect waves-light manage-button amber darken-2 edit-button">
                        SEARCH <i class="fas fa-search prefix icon-color text-darken-4"></i>
                    </button>
                    <a href="{{url_for('home')}}" class="btn manage-button waves-effect amber darken-2">REFRESH
                        <i class="fas fa-close prefix right"></i>
                    </a>   
                </div>
            </div>
        </form>
    </div>
</section>


  

<section>
    <div class="festive-container container">
        <h3 class="center-align festive-header">Explore our festive favorites </h3>
        <p class="festive-text">Check out some of our recommended festive recipes from our community this winter! 
            We got you covered this season with some nice, easy , tasty and aesthetically pleasing meals.
            Don't forget to tag us on our social media handles. </p>
        
      
        <div class="container list-container">
            <div class="row center-recipe center-align">
                {% for recipe in recipes %}
                    <div class="col m4">
                        <div class="card small">
                            <div class="card-image ">
                                <a href="{{url_for('single_recipe', recipe_id=recipe._id)}}">
                                    <img src="{{ recipe.image_url }}" class="responsive-image" alt="photo of {{ recipe.recipe_name }}">
                                </a>
                            </div>
                            <div class="card-content recipe-list ">
                                <p class="content-header">{{ recipe.recipe_name}}</p>
                                <p class="card-text"><strong>By:</strong>{{ recipe.created_by}}</p>
                                {% if recipe.is_vegetarian == "on" %}
                                <p class="vegan"> Vegan
                                <i class="fas fa-seedling tooltipped icon-color"data-position="middle" data-tooltip="Vegan friendly"></i>
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div> 
        </div>

        <div class="variety-container">
            <div class="row">
                <div class="col s12 center-align">
                    <h3 class="variety-header">Browse our Categories</h3>
                </div>
            </div>
        
            <div class="center-align">
                <div class="row">
                    {% for category in category_recipes %}
                <div class="col s6 categories">
                    <div class="col s7 categories-image">
                        {% if category.category_name == "Breakfast Recipes" %}
                            <a href="{{url_for('view_category',category_id=category._id)}}">
                            <img src="{{url_for('static',filename='images/breakfast.jpeg')}}" alt="photo of {{ category.category_name }}">
                            </a>
                        {% elif category.category_name == "Main-Course Recipes" %}
                            <a href="{{url_for('view_category',category_id=category._id)}}">
                            <img src="{{url_for('static',filename='images/main-course.jpeg')}}" alt="photo of {{ category.category_name }}">
                            </a>
                        {% elif category.category_name == "Soup Recipes" %}
                            <a href="{{url_for('view_category',category_id=category._id)}}">
                            <img src="{{url_for('static',filename='images/soup-recipe.jpeg')}}" alt="photo of {{ category.category_name }}">
                            </a>
                        {% elif category.category_name == "Snack Recipes" %}
                            <a href="{{url_for('view_category',category_id=category._id)}}">
                            <img src="{{url_for('static',filename='images/snackrecipe.jpeg')}}" alt="photo of {{ category.category_name }}">
                            </a>
                        {% else %}
                            <h5 class = "single-recipe-text"> No category Found</h5>
                        {% endif %}
                    </div>
                    <div class="col s5 different-category">
                        <p>{{category.category_name}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>   
        </div>
    </div>
  </section>

<div class="divider"></div>
 <!---Product image-->
    <section class="container-fluid">
        <div class="row product-container">
            <div class="col s12 m6 ">
                <div class="product-text center-align">
                    <h3 class="product-header icon-color">NOT SURE OF THE RIGHT KITCHEN TOOLS ? </h3>
                    <p class="product"> <strong>Shop with our partners today and recieve a 15% discount code. </strong>  </p>
                    <a href="https://www.bbcgoodfood.com/review/best-kitchen-gadgets" role="button" class="btn waves-effect waves-light amber darken-2">
                      BUY NOW <i class="fas fa-shopping-cart prefix right"></i>
                    </a>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="product-image">
                    <img src="{{url_for('static',filename='images/kitchen_image.jpeg')}}" alt="photo of kitchen items">
                </div>
            </div>
        </div>
    </section>

{%endblock%}