{% extends "base.html" %}
{% block content %}

<div class="container-fluid">

    <section>
      <div class="row profile">
        <div class="col s12 m8 offset-m2">
          <div class="profile-header">
            <h3 class="center-align">{{ user.username }}'s Profile</h3>
          </div>
        </div>    
      </div>
    </section>


    <div class="profile-content center-align">
      <div class="row personal-details ">
        <div class="col s12 m6 ">
          <div class="personal-details">
            <i class="fas fa-users prefix icon-color"></i>
            <p><strong>Name :</strong>
            <span>{{ user.full_name }}</span>
          </div>
        </div>
  
        <div class="col s12 m6">
          <div class="personal-details">
            <i class="fas fa-users prefix icon-color"></i>
            <p><strong>About me:</strong>
            <span>{{ user.about}}</span>
          </div>
        </div>
      </div>
      <div class="row personal-details">
        <div class="col s12 m6 ">
          <div class="personal-details">
            <i class="fas fa-users prefix icon-color"></i>
            <p><strong>Email :</strong>
            <span>{{ user.full_name }} </span>
          </div>
        </div>
  
        <div class="col s12 m6">
          <div class="personal-details">
            <i class="fas fa-users prefix icon-color"></i>
            <p><strong>Mobile number:</strong>
            <span>{{ user.about}}</span>
          </div>
        </div>
      </div>

    </div>

 
      
    

    </div>
      
        
</div>

    
  


{% endblock %}