{% extends "base.html" %}
{% block content %}


    <div class="container">
        <div class="row profile">
            <div class="col s12 m8 offset-m2">
              <div class="profile-header">
                <h3 class="center-align">{{ username }}'s Profile</h3>
              </div>
            </div>    
        </div>
        <div class="row">
          <div class="col s12 m6 offset-m3 center-align">
              <p class="registered"> NEW TO OUR SITE,
                  <span><a href="">REGISTER</a></span> HERE.
              </p>
          </div>
          </div>
        </div>
    </div>


{% endblock %}