{% extends "base.html" %}
{% block content %}

<div class="container-fluid profile-container">

    <section>
      <div class="row profile">
        <div class="col s12 m8 offset-m2">
          <div class="profile-header card-panel">
            <h3 class="center-align">{{ user.username }}'s Profile</h3>
          </div>
        </div>    
      </div>

    <form class="profile-content center-align" method="POST" action="{{ url_for('edit_profile', user_id=user._id)}}">
      <div class="row">
        <!-- Full name -->
        <div class="col s12 m6">
          <div class="personal-details">
            <p><strong>Name</strong></p>
            <i class="fas fa-user-plus prefix icon-color">:</i>
            <p class = "profile-name"><strong>{{user.full_name}}</strong></p>
          </div>
        </div>

         <!-- mobile number -->
        <div class="col s12 m6">
          <div class="personal-details">
            <p><strong>Number</strong></p>
            <i class="fas fa-phone-alt prefix icon-color">:</i>
            <p class = "profile-name"><strong>{{ user.phone_number }}</strong></p>
          </div>
        </div>
      </div>

      <div class="row profile-details">
        <!-- About the user  -->
        <div class="col s12 m6">
          <div class="personal-details">
            <p><strong>About me</strong></p>
            <i class="fas fa-pen prefix icon-color">:</i>
            <p class = "profile-name"><strong>{{ user.about }}</strong></p>
          </div>
        </div>

        <!-- Email the user   -->
        <div class="col s12 m6">
          <div class="personal-details">
            <p><strong>Email</strong></p>
            <i class="fas fa-envelope prefix icon-color">:</i>
            <p class = "profile-name"><strong>{{ user.email }}</strong></p>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col s12 profile profile-button">
          <a href="{{url_for('add_recipe')}}" class="waves-effect amber recipe-button darken-2 ">CREATE RECIPE</a>
          <a href="{{url_for('edit_profile', user_id=user._id)}}" class="waves-effect recipe-button amber darken-2"> UPDATE PROFILE</a>
        </div> 
      </div>
  </form>
  </section>

  <section>
    <div class="container">
      {% if recipes_user|length > 0 %}
        <div class="row recipe-list-container">
          {% for recipe in recipes_user %}
            <div class="col s12 m4">
                <div class="card small ">
                    <div class="card-image ">
                        <a href="{{url_for('single_recipe', recipe_id=recipe._id)}}">
                            <img src="{{ recipe.image_url }}" class="responsive-image" alt="photo of {{ recipe.recipe_name }}">
                        </a>
                    </div>
                    <div class="card-content recipe-list ">
                        <p class="content-header">{{ recipe.recipe_name}}</p>
                          {% for category in recipe.category_name %}
                            <p class="card-text"> <strong>Category:</strong>{{category}}</p>
                          {% endfor %}
                        <p>{{recipe.recipe_time}} mins</p>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
        {% else %}
        <h4 class="center-align error-meesage">No results Found</h4>
        {% endif %}
    </div>
  </section>
</div>   
  
{% endblock %}