{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="input-field col s12 m4 l3 offset-l4">
        <input id="name" type="text" class="validate">
        <label for="name" class="white-text">Busque número de pagina...</label>
    </div>
    <div class="input-field col s12 m4 l1">
        <button class="btn-large waves-effect waves-light grey darken-4" type="submit"><i class="material-icons">search</i>
        </button>
    </div>
</div>

{% endblock %}



@app.route("/logout")
def profile(username):
    return render_template("profile.html", username=username)
