{% extends "base.html" %}
{% block content %}

<div class="row center-cols center-align">
    <div class="col m6">
      <div class="recipe-details center-align">
          <h4 class="single-header">{{ recipe.recipe_name }}</h4>
          <p class="single-recipe-text"><strong>By:</strong>{{ recipe.created_by|capitalize}}</p>
          <div class="review-rating">
            {% if recipe.rate == "0" %}
              <span class="ratings">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </span>
                <br>
            {% elif recipe.rate == "1" %}
              <span class="ratings">{{ recipe.rate }} stars
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </span>
                <br>     
            {% elif recipe.rate == "2" %}
              <span class="ratings">{{ recipe.rate }} stars 
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </span>
                <br>
            {% elif recipe.rate == "3" %}
              <span class="ratings">{{ recipe.rate }} stars 
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </span>
                <br>
            {% elif recipe.rate == "4" %}
              <span class="ratings">{{ recipe.rate }} stars 
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </span>
                <br>
              {% elif recipe.rate == "5" %}
                <span class="ratings">{{ recipe.rate }} stars
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </span>
                <br>
              {% else %}
                  <span class="single-recipe-text"> No ratings yet</span>
              {% endif %}
          </div>
          <p class="single-recipe-text">{{ recipe.recipe_description}}</p>
          <div class="prep-time center-align">
              <div class="col m4 recipe-item">
                  <span class="value">{{ recipe.ingredients|length}}</span>
                  <span class="label">Ingredients</span>
              </div>
              <div class="col m4 recipe-item">
                  <span class="value">{{ recipe.recipe_time}}</span>
                  <span class="label">Minutes</span>
              </div>
              <div class="col m4 recipe-item">
                  {% for category in recipe.category_name %}
                    <span class="value">{{ category }}</span>
                    <span class="label">Category</span>
                  {% endfor %}
              </div>
          </div>
          <div class="vegetarian">
            <div class="row">
              <div class="col s12">
                {% if recipe.is_vegetarian == "on" %}
               <p class="vegetarian-text"><strong>VeganFriendly:</strong>Yes</p>
                {% else %}
               <p class="vegetarian-text"><strong>VeganFriendly:</strong>No</p>
                {% endif %}
              </div>
            </div>
          </div>
      </div>     
    </div>
    
    <div class="col m6">
      <div class="recipe-image">
        <img src="{{url_for('static',filename='images/food_image.png')}}" alt="{{ recipe.recipe_name}}">
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col s12 center-align">
      <!--if user is logged in display button -->
      {% if session.user|lower == recipe.created_by|lower %}
        <a href="{{url_for('edit_recipe',recipe_id=recipe._id)}}" class="waves-effect recipe-button amber darken-2">EDIT RECIPE</a>
        <a href="#confirm-delete" class="waves-effect waves-light modal-trigger recipe-button amber darken-2"> DELETE RECIPE</a>
      {% else %}
      <!--Inform user they need to log in to save recipe -->
        <a href="{{url_for('profile', username=session['user'])}}" class="waves-effect recipe-button amber darken-2">SAVE RECIPE</a>
      {% endif %}
    </div> 
  </div>

    <!--Modal to confirm if user wants to delete recipe -->

  <div id="confirm-delete" class="modal">
    <div class="modal-content">
      <h4 class="center-align icon-color recipe-header">Delete Recipe</h4>
      <p class="modal-text">
      Are you sure you would like to delete this recipe from profile ? <br>
      Please be aware that this recipe cannot be retrieved once deleted <br>
      </p>
    </div>
    <div class="modal-footer">
      <a href="{{url_for('delete_recipe',recipe_id=recipe._id)}}" class="modal-close waves-effect amber darken-2 modal-button">DELETE</a>
      <a href="{{url_for('single_recipe',recipe_id=recipe._id)}}" class="modal-close waves-effect grey darken-2 modal-button">CANCEL</a>
    </div>
  </div>
       
  <div class="divider s12"></div>
  <div class="row">
    <div class="preparation-container center-align">
      <div class="col s12 m5">
        <div class="direction-details">
          <h5 class="preparation-details">Ingredients</h5>
          {% for ingredient in recipe.ingredients %}
            <div>
                <label class="recipe-checkbox">
                  <input type="checkbox"  />
                  <span id="check">{{ ingredient }}</span>
                </label>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col s12 m6">
        <div class="direction-details">
          <h5 class="icon-color">Directions </h5>
          {% for instructions in recipe.recipe_instructions %}
            <div class="recipe-checkbox">
                <label>
                  <input type="checkbox"  />
                  <span >{{ instructions}}</span>
                </label>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
  
{%endblock%}