{% extends "base.html" %}
{% block content %}

<div class="row center-cols center-align">
    <div class="col m6">
      <div class="recipe-details center-align">
        <h3>{{ recipe.recipe_name }}</h3>
        {% if recipe.rate == "0" %}
          <span class="review-content star-rating">{{ recipe.rate }} stars 
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i></span><br>
        {% elif recipe.rate == "1" %}
          <span class="review-content star-rating">{{ recipe.rate }} star 
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i></span><br>     
        {% elif recipe.rate == "2" %}
          <span class="review-content star-rating">{{ recipe.rate }} stars 
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i></span><br>
        {% elif recipe.rate == "3" %}
          <span class="review-content star-rating">{{ recipe.rate }} stars 
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i></span><br>
       {% elif recipe.rate == "4" %}
          <span class="review-content star-rating">{{ recipe.rate }} stars 
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i></span><br>
        {% elif recipe.rate == "5" %}
            <span class="review-content star-rating">{{ recipe.rate }} stars
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i></span><br>
        {% else %}
              <span class="review content">No Rating added yet</span>
        {% endif %}


      </div>

      
    </div>
    </div>
    <div class="col m6">
      <div class="recipe-image">

      </div>
     
    </div>
  </div>
  
  
{%endblock%}