{% extends "base.html" %}
{% block content %}

<section>
    <div class="tips-container container">
        <h3 class="center-align tips-header">EVERYDAY TIPS FOR YOUR KITCHEN </h3>
        <p class="festive-text">As our valued member we have got you covered with the latest hacks for cooking, cleaning and shopping the latest tricks that help with your cooking. <br>
            We all know it can be a hassle finding the right equipments/tools/ingredients to make your favourite dish.<br>
            Our tips & tricks are updated weekly to get you prepared to make your delicious meals and keep the house looking luxirious<br>
        </p>
    </div>
</section>
<section class="container-fluid">
    <!-- Kitchen gadgets -->
    <div class="row kitchen">
        <div class="col s12 m6 ">
            <div class="kitchen-content center-align">
                <h3 class="kitchen-header icon-color">30 ESSENTIAL QUALITY KITCHEN GADGETS </h3>
                <p class="kitchen-text"> Okay so you know I have to keep you my memebers updated with the latest smart equipements essential for our modern day looking kitchen<br>
                    Anya Gilbet from bbcfood provides us with some good deals for some amazing appliances.Best believe i had to get some discount for my members to enjoy their cooking. <strong>Shop with our partners today and recieve a 15% discount. </strong> </p>
                <a href="https://www.bbcgoodfood.com/review/best-kitchen-gadgets" role="button" class="tips-button waves-effect waves-light amber darken-2">
                  APPLY 15% DISCOUNT <i class="fas fa-shopping-cart prefix right"></i>
                </a>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="kitchen-image">
                <img src="{{url_for('static',filename='images/kitchen_appliances.jpeg')}}" alt="photo of kitchen items">
            </div>
        </div>
    </div>
    <!-- pantry essetials -->
        <div class="row">
            <div class="col s12 m6 ">
                <div class="kitchen-image">
                    <img src="{{url_for('static',filename='images/kitchen_image.jpeg')}}" alt="photo of kitchen items">
                </div>
            </div>
            <div class="col s12 m6">
                <div class="kitchen-content center-align">
                    <h3 class="kitchen-header icon-color"> PANTRY ESSENTIALS </h3>
                    <p class="kitchen-text"> If you're a sucker like me for a well organized kitchen, then you should check out Hannah Doolin and Madison Flager's post on a step to step guide as to how to organize your pantry.
                        Trust me when we say that you would never regret taking this organizing pantry journey </p> 
                    <a href="https://www.delish.com/food/a52476/kitchen-pantry-organization-ideas/" role="button" class="tips-button waves-effect waves-light amber darken-2">
                    READ MORE 
                    </a>
                </div>
            </div>
        </div>

     <!-- Natural cleaning agents -->
        <div class="row kitchen">
            <div class="col s12 m6 ">
                <div class="kitchen-content center-align">
                    <h3 class="kitchen-header icon-color">CLEANING POTS & PANS </h3>
                    <p class="kitchen-text"> So we have all had experiences with burnt pots while cooking our meals which can be so frustrating and leave an unpleasant cooking experience 
                        <br>
                        At Ayo Recipes we got you coovered with some good DIY cleaning agents to get rid of the scales and the burns, leaving your equipments shiny fresh looking brand new 
                    </p>
                    <a href="https://www.webstaurantstore.com/blog/2562/cleaning-stainless-steel-pans.html" role="button" class="tips-button waves-effect waves-light amber darken-2">
                    DIY PRODUCTS <i class="fas fa-shopping-cart prefix right"></i>
                    </a>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="kitchen-image">
                    <img src="{{url_for('static',filename='images/cleaning-agent.jpeg')}}" alt="photo of kitchen items">
                </div>
            </div>
        </div>
</section>


{% endblock %}