{% extends "base.html" %}
{% block content %}

<section>
    <div class="tips-container container">
        <h3 class="center-align tips-header">EVERYDAY TIPS FOR YOUR KITCHEN </h3>
        <p class="festive-text">As our valued member we have got you covered with the latest hacks for cooking, cleaning and shopping the latest tricks that help with your cooking. <br>
            We all know it can be a hassle finding the right equipments/tools/ingredients to make your favourite dish.<br>
            Our tips & tricks are updated weekly to get you prepared to make your delicious meals and keep the house looking luxirious<br>
        </p>
    </div>
</section>



{% endblock %}